.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  /* animation: 3s ease 0s normal forwards 1 fadein; */
  color: white;
  background-color: white;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none;  
}

.links {  
  display: flex;
  flex-direction: row;    
  position: absolute;
  bottom: 2em;
}

.links a {  
  padding-right: 20px;
  font-size: 0.9em;
}

.me {
  color: #fff;
  font-size: 1.6em;
  animation: 1s ease 0s normal forwards 1 fadein;
}

.quote {
  font-size: 0.9em;
  color: #999;
}

.burger:hover { cursor: pointer; }

/* @keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

@keyframes slidein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
} */

